@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    display: flex;
}

@media (max-width: 900px) {
    .row {
        display: inline-grid;
    }

    img {
        width: 370px;
        height: 370px;
        margin-right: auto;
        margin-left: auto;
    }
}

.column {
    flex: 50%;
    min-width: 400px;
}

body{
    font-family: 'poppins';
    background-color: #ECEDEF;
    color: #fff;
    line-height: 1.8;
}

a{
    text-decoration: none;
}

img {
    border-radius: 10px;
    display: block;
    margin: auto;
    max-width:100%;
    max-height:100%;
}
#container{
    margin: 30px 150px auto auto;
    max-width: 430px;
    min-width: 430px;
    padding: 20px;
}

.form-wrap{
    background-color: #fff;
    padding: 15px 25px;
    color: #333;
    border-top: 4px solid #e74c3c;
    border-radius: 05px;
    max-width: 430px;
    min-width: 430px;
    margin-left: auto;
    margin-right: auto;
}

.form-wrap h1,
.form-wrap p{
    text-align: center;
}

.form-wrap .form-group{
    margin-top: 15px;
}

.form-wrap .form-group label{
    display: block;
    color: #666;
}

.form-wrap .form-group input{
    width: 100%;
    padding: 10px;
    border: #ddd 1px solid;
    border-radius: 5px;
}

.form-wrap button{
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #e74c3c;
    color: #fff;
    cursor: pointer;
    border: 1px solid #e74c3c;
    font-family: 'poppins';
    font-size: 15px;
    transition: 1s;
}

.form-wrap button:hover{
    background-color: #e74c3c;
    transition: 1s;
}

.form-wrap .bottom-text{
    font-size: 13px;
    margin-top: 20px;
}

footer {
    text-align: center;
    margin-top: 10px;
    color: #333;
}

footer a {
    color:#e74c3c;
}