@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 50%;
}

.column .photozone {
    flex: 50%;
    width: 30%;
    float:left;
    margin: 100px auto auto auto;
    position: relative;
}

@media (max-width:1155px){
    #container{
        margin: 30px auto auto auto;
    }

    .column .photozone img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 430px;
        height: 430px;
    }
}

body{
    font-family: 'poppins';
    background-color: #ECEDEF;
    color: #fff;
    line-height: 1.8;
}

a{
    text-decoration: none;
}

#container{
    margin: 30px 150px auto auto;
    max-width: 430px;
    min-width: 430px;
    padding: 20px;
}

#container .column{
    text-align: center;
    background-color: #e74c3c;
}

.form-wrap{
    background-color: #fff;
    padding: 15px 25px;
    color: #333;
    border-top: 4px solid #e74c3c;
    border-radius: 05px;
}

.form-wrap h1,
.form-wrap p{
    text-align: center;
}

.form-wrap .form-group{
    margin-top: 15px;
}

.form-wrap .form-group label{
    display: block;
    color: #666;
}

.form-wrap .form-group input{
    width: 100%;
    padding: 10px;
    border: #ddd 1px solid;
    border-radius: 5px;
}

.form-wrap button{
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #e74c3c;
    color: #fff;
    cursor: pointer;
    border: 1px solid #e74c3c;
    font-family: 'poppins';
    font-size: 15px;
    transition: 1s;
}

.form-wrap button:hover{
    background-color: #e74c3c;
    transition: 1s;
}

.form-wrap .bottom-text{
    font-size: 13px;
    margin-top: 20px;
}