@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --main-color: rgb(238, 82, 82);
    --bg-color: rgb(167, 45, 60);
    --body-color: linear-gradient(to left, #DDEFBB, #FFEEEE);
}

.card-container{
    display: flex;
    justify-content: center;
}

.cards{
    margin: 30px;
    min-width: 150px;
    max-width: 200px;
    background-color: white;
    border-radius: 15px;
    height: 480px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-img img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

.card-body h2{
    text-align: center;
}

.card-body ul{
    text-align: justify;
    margin-bottom: 10px;
    padding: 5px;
}

.card-body ul li{
    list-style: none;
}

.card-footer button, .btn-edit, .btn-delete{
    appearance: none;
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    color: #3B3B3B;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,
    sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    min-height: 60px;
    max-width: 450px;
    text-align: center;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}

.card-footer button, .btn-delete:hover{
    transition: 0.3s;
    background-color: var(--main-color);
    color: #EDEFEE;
    border: none;
}

.btn-edit:hover{
    transition: 0.3s;
    background-color: mediumseagreen;
    color: #EDEFEE;
    border: none;
}


