<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href="@{/home.css}" rel="stylesheet">
  <link th:href="@{/profile.css}" rel="stylesheet">
  <link th:href="@{/infoCard.css}" rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <title>Home Page</title>
</head>
<body>
<div class="sidebar">

  <div class="logo-content">
    <div class="logo">
      <h3 class="logo-name" th:text="${person.getName()}">
        dashwork
      </h3>
    </div>
    <div class="btn-toggle">
      <i class='bx bx-menu'></i>
    </div>
  </div>
  <ul class="nav">
    <li>
      <a th:href="@{/rides}">
        <i class='bx bxs-home' ></i>
        <span>Home</span>
      </a>
    </li>
    <li>
      <a th:href="@{/rides/currentRide/{id}(id=${person.getId()})}">
        <i class='bx bx-map' ></i>
        <span>Booked Rides</span>
      </a>
    </li>
    <li>
      <a th:href="@{/rides/createRide/{id}(id=${person.getId()})}">
        <i class='bx bx-task'></i>
        <span>Create ride</span>
      </a>
    </li>
    <li>
      <a th:href="@{/people/{id}(id=${person.getId()})}">
        <i class='bx bxs-user-circle' ></i>
        <span>Profile</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-envelope' ></i>
        <span>Support</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bxs-info-circle'></i>
        <span>About Us</span>
      </a>
    </li>
    <li>
      <a th:href="@{/logout}">
        <i class='bx bx-log-out' ></i>
        <span>Sign Out</span>
      </a>
    </li>
  </ul>
</div>

<div class="wrapper">

  <div class="logo_drive_buddy">
    <img class="logo_img" th:src="@{/images/logo_fig_removebg.png}">
    <span class="logo_name">Drive Buddy</span>
  </div>

  <div class="profile-card">
    <h2>Profile Information</h2>
    <form class="profile-form" th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}" onsubmit ="return verifyPassword()" >
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" th:field="*{name}" id="name">
        <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
      </div>
      <div class="form-group">
        <label for="age">Age: </label>
        <input type="text" th:field="*{age}" id="age"/>
        <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</div>
      </div>
      <div class="form-group">
        <label for="gender">Gender:</label>
        <input type="text" th:field="*{gender}" id="gender">
        <div style="color:red" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}">Gender Error</div>
      </div>
      <div class="form-group">
        <label for="email">Email: </label>
        <input type="text" th:field="*{email}" id="email"/>
        <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
      </div>
      <div class="form-group">
        <label for="phone">Phone Number: </label>
        <input type="text" th:field="*{phone}" id="phone"/>
        <div style="color:red" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Phone Error</div>
      </div>
      <div class="form-group">
        <label for="password">Password: </label>
        <input type="password" value = "" id="password"/>
        <input type="hidden" th:field="*{password}" id="custId">
        <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
        <div id = "message" style="color:red"> </div>
      </div>
      <div class="button-group">
        <button type="submit" class="btn-edit">Edit</button>
      </div>
    </form>
    <form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}" onsubmit ="return verifyPassword()">
      <div class="button-group">
        <button type="submit" class="btn-delete">Delete</button>
      </div>
    </form>
  </div>

  <div class="all_rides_list">
    <h2>My Rides</h2>
    <hr>
    <div class="card-container">
      <div th:each="ride : ${person.getRides()}" class="cards">
        <div class="card-img">
          <img th:if="${ride.getOwner().getGender() == 'M'}" th:src="@{/images/proImage1.png}"/>
          <img th:unless="${ride.getOwner().getGender() == 'M'}" th:src="@{/images/proImage2.png}"/>
        </div>
        <div class="card-body">
          <h2 th:text="${ride.getOwner().getName()}">User Name</h2>
          <ul>
            <li>From: <span th:text="${ride.getDestination_from()}">info</span></li>
            <li>To: <span th:text="${ride.getDestination_to()}">info</span></li>
            <li>Date: <span th:text="${ride.getDate()}">info</span></li>
            <li>Time: <span th:text="${ride.getTime()}">info</span></li>
            <li>Phone Nr: <span th:text="${ride.getOwner().getPhone()}">info</span></li>
            <li>Price: <span th:text="${ride.getPrice()}">info</span> lei</li>
            <li>Available seats: <span th:text="${ride.getAvailableSeats()}">info</span></li>
          </ul>
        </div>
<!--        <div class="card-footer">-->
<!--          <button>Book</button>-->
<!--        </div>-->
      </div>
    </div>
  </div>
</div>
<script src="/script.js"></script>
<script>
  function verifyPassword() {
    var pw1 = document.getElementById("password").value;
    var pw2 = document.getElementById("custId").value;

    if(pw1 != pw2) {
      document.getElementById("message").innerHTML = "For editing your profile, you should enter the right password";
      return false;
    }
  }
</script>

</body>
</html>