<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href="@{/home.css}" rel="stylesheet">
  <link th:href="@{/profile.css}" rel="stylesheet">
  <link th:href="@{/infoCard.css}" rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <title>Home Page</title>
</head>
<body>
<div class="sidebar">

  <div class="logo-content">
    <div class="logo">
      <h3 class="logo-name" th:text="${person.getName()}">
        dashwork
      </h3>
    </div>
    <div class="btn-toggle">
      <i class='bx bx-menu'></i>
    </div>
  </div>
  <ul class="nav">
    <li>
      <a th:href="@{/rides/{id}(id=${person.getId()})}">
        <i class='bx bxs-home' ></i>
        <span>Home</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-map' ></i>
        <span>Current ride</span>
      </a>
    </li>
    <li>
      <a th:href="@{/rides/createRide/{id}(id=${person.getId()})}">
        <i class='bx bx-task'></i>
        <span>Create ride</span>
      </a>
    </li>
    <li>
      <a th:href="@{/people/{id}(id=${person.getId()})}">
        <i class='bx bxs-user-circle' ></i>
        <span>Profile</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-envelope' ></i>
        <span>Support</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bxs-info-circle'></i>
        <span>About Us</span>
      </a>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-log-out' ></i>
        <span>Sign Out</span>
      </a>
    </li>
  </ul>
</div>

<div class="wrapper">

  <div class="logo_drive_buddy">
    <img class="logo_img" th:src="@{/logo_fig_removebg.png}">
    <span class="logo_name">Drive Buddy</span>
  </div>

  <div class="profile-card">
    <h2>Profile Information</h2>
    <form>
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="John Doe">
      </div>
      <div class="form-group">
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" value="25">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="johndoe@example.com">
      </div>
      <div class="form-group">
        <label for="phone">Phone:</label>
        <input type="tel" id="phone" name="phone" value="555-555-5555">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" value="password">
      </div>
      <div class="button-group">
        <button type="submit" class="btn-edit">Edit</button>
        <button type="button" class="btn-delete">Delete</button>
      </div>
    </form>
  </div>

  <div class="all_rides_list">
    <h2>My Rides</h2>
    <hr>
    <div class="card-container">
      <div th:each="ride : ${person.getRides()}" class="cards">
        <div class="card-img">
          <img th:if="${ride.getOwner().getGender() == 'M'}" th:src="@{/proImage1.png}"/>
          <img th:unless="${ride.getOwner().getGender() == 'M'}" th:src="@{/proImage2.png}"/>
        </div>
        <div class="card-body">
          <h2 th:text="${ride.getOwner().getName()}">User Name</h2>
          <ul>
            <li>From: <span th:text="${ride.getDestination_from()}">info</span></li>
            <li>To: <span th:text="${ride.getDestination_to()}">info</span></li>
            <li>Date: <span th:text="${ride.getDate()}">info</span></li>
            <li>Time: <span th:text="${ride.getTime()}">info</span></li>
            <li>Phone Nr: <span th:text="${ride.getOwner().getPhone()}">info</span></li>
            <li>Price: <span th:text="${ride.getPrice()}">info</span> lei</li>
          </ul>
        </div>
        <div class="card-footer">
          <button>Book</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/script.js"></script>

</body>
</html>