<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/signup.css}" rel="stylesheet">
    <title>Registration Form Using HTML/CSS</title>
</head>
<body>
<div id="photo">
    <img th:src="@{/car-intro.png}"/>
</div >
<div id="container">
    <!-- Form Wrap Start -->
    <div class="form-wrap">
        <h1>Sign Up</h1>
        <p>It's Free and Only takes a minute</p>
        <!-- Form Start -->
        <form th:method="POST" th:action="@{/people}" th:object="${person}">
            <div class="form-group">
                <label for="name">Enter name:</label>
                <input type="text" th:field="*{name}" id="name">
                <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
            </div>
            <div class="form-group">
                <label for="age">Enter age: </label>
                <input type="text" th:field="*{age}" id="age"/>
                <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</div>
            </div>
            <div class="form-group">
                <label for="email">Enter email: </label>
                <input type="text" th:field="*{email}" id="email"/>
                <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
            </div>
            <div class="form-group">
                <label for="phone">Enter Phone number: </label>
                <input type="text" th:field="*{phone}" id="phone"/>
                <div style="color:red" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Phone Error</div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="firstname" id="first-name">
            </div>
            <div class="form-group">
                <label for="cpass">Confirm Password</label>
                <input type="password" name="firstname" id="first-name">
            </div>
            <button type="submit">Sign Up</button>
            <p class="bottom-text">
                By Clicking the Sign Up Button, you agree to our
                <a href="#">Term & Conditions</a> and <a href="#">Primary Policy</a>
            </p>
        </form>
        <!-- Form Close -->
    </div>
    <!-- Form Wrap Close -->
    <footer>
        <p>Already Have an Account? <a href="#">Login Here</a></p>
    </footer>
</div>
<!-- Container Close -->


</body>
</html>