<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/authorization/signup.css}" rel="stylesheet">
    <link rel="icon" th:href="@{/images/logo_fig_removebg.png}" type="image/icon type">
    <title>Registration Form Using HTML/CSS</title>
</head>
<body class="row">
<div id="photo" class="column">
    <img th:src="@{/images/car-intro.png}"/>
</div >
<div id="container" class="column">

    <div class="form-wrap">
        <h1>Sign Up</h1>
        <p>It's Free and Only takes a minute</p>

        <form th:method="POST" th:action="@{/people/signup/confirm}" th:object="${person}" onsubmit ="return verifyPassword()">
            <div class="form-group">
                <label for="name">Enter name:</label>
                <input type="text" th:field="*{name}" id="name">
                <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
            </div>
            <div class="form-group">
                <label for="age">Enter age: </label>
                <input type="text" th:field="*{age}" id="age"/>
                <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</div>
            </div>
            <div class="form-group">
                <label for="gender">Enter gender:</label>
                <input type="text" th:field="*{gender}" id="gender">
                <div style="color:red" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}">Gender Error</div>
            </div>
            <div class="form-group">
                <label for="email">Enter email: </label>
                <input type="text" th:field="*{email}" id="email"/>
                <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
            </div>
            <div class="form-group">
                <label for="phone">Enter Phone number: </label>
                <input type="text" th:field="*{phone}" id="phone"/>
                <div style="color:red" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Phone Error</div>
            </div>
            <div class="form-group">
                <label for="password">Enter Password: </label>
                <input type="password" th:field="*{password}" id="password"/>
                <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
            </div>
            <div class="form-group">
                <label for="pswd">Confirm Password</label>
                <input type="password" id = "pswd" value = "">
                <div id = "message" style="color:red"> </div>
            </div>
            <button type="submit">Sign Up</button>
            <p class="bottom-text">
                By Clicking the Sign Up Button, you agree to our
                <a href="#">Term & Conditions</a> and <a href="#">Primary Policy</a>
            </p>
        </form>
    </div>
    <footer>
        <p>Already Have an Account? <a th:href="@{/login}">Login Here</a></p>
    </footer>
</div>
<script>
    function verifyPassword() {
        var pw1 = document.getElementById("password").value;
        var pw2 = document.getElementById("pswd").value;

        if(pw1 != pw2) {
            document.getElementById("message").innerHTML = "Password should be equal";
            return false;
        }
    }
</script>
</body>
</html>

